@model IEnumerable<TranTinh_3282_W3.Models.Product>
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Display Products";
}

@foreach (var item in Model)
{
    <div class="card border-0" style="max-width: 280px">
        <img src="@item.ImageUrl" class="card-img-top" alt="Product Image" />
        <div class="card-body">
            <h5 class="card-title text-truncate-1">@item.Name</h5>
            <p class="card-text text-truncate-2">@item.Description</p>
            <p class="card-text spec-line text-truncate-1">@item.Spec</p>
            <div class="d-flex justify-content-between align-items-center">
                <span class="h5 mb-0">@item.Price</span>
                <div>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-half text-warning"></i>
                    <small class="text-muted">(4.5)</small>
                </div>
            </div>
            <span class="h5 mb-0 text-decoration-line-through text-muted small">31,800,000₫</span>
        </div>
        <div class="card-footer d-flex justify-content-lg-between bg-light">
            <button class="btn btn-primary btn-sm">Thêm Vào Giỏ</button>
            <!-- <button class="btn btn-success btn-sm">Xem Chi Tiết</button> -->
            <a class="btn btn-success btn-sm" asp-route-id=@item.Id asp-controller="Product" asp-action="Display">Xem Chi Tiết</a>

            <button class="btn btn-outline-secondary btn-sm"><i class="bi bi-heart"></i></button>
        </div>
    </div>
}
